.smallTablet, .mobile {
    #pannel {
        width: 100%;
        padding: 0 1em 1em 1em;
        transform: translateY(calc(50vh - 90px));

        .saveList {
            .niceBtn {
                min-width: 110px;
            }

            #share .socialContainer {
                grid-gap: 1em;
    
                a.socialBlock img {
                    max-width: 45px;
                }
            }
        }
        
    }

    &.open {
        #pannel { height: 70vh; }
    }

    footer .doubleContainer {
        flex-direction: column;
    }

    


    section {
        &.allDogs {
            margin: 20px auto;

            .accordion-content {
                padding: 0 10px;
            }
        }
    }

    footer .doubleContainer .half:last-child {
        text-align: left;
    }
}


.mobile .styled-table {
    
    th, td {
        padding: 12px 5px!important;
    }
}