.screenshotContainer { opacity: 0; pointer-events: none; width: 100%; height: 100vh; position: fixed; top: 0; z-index: 100; display: flex; justify-content: center; align-items: center; transform: scale(0.5); transition: transform 0.3s cubic-bezier(0.42, 0, 0.58, 1) 0s, opacity 0.3s cubic-bezier(0.42, 0, 0.58, 1) 0s; }

.screenshotContainer canvas { transform: scale(0.8); }

body { margin: 0; font-family: Futura; color: #505050; }

body #error { color: #f81e1e; display: none; margin-top: .6em; }

body.open .overlay { background-color: rgba(0, 0, 0, 0.5); pointer-events: all; }

body.open #pannel { height: 50vh; }

body.open #pannel .bottom button:before { content: "Hide "; }

body.open .screenshotContainer { opacity: 1; transform: scale(1); }

body .breedGrid { display: grid; grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); grid-gap: 1em; margin: 1em 0; }

body .breedGrid .breedBlock { aspect-ratio: 1/1; display: flex; align-items: flex-end; border-radius: 30px; overflow: hidden; position: relative; box-sizing: border-box; }

body .breedGrid .breedBlock img { width: 100%; height: 100%; object-fit: cover; z-index: 1; }

body .breedGrid .breedBlock label { width: 100%; height: 100%; position: absolute; z-index: 3; cursor: pointer; }

body .breedGrid .breedBlock label input { position: absolute; opacity: 0; cursor: pointer; height: 0; width: 0; }

body .breedGrid .breedBlock label input:checked ~ .checkmark { background-color: #9DC88D; }

body .breedGrid .breedBlock label input:checked ~ .checkmark:after { opacity: 1; }

body .breedGrid .breedBlock label .checkmark { position: absolute; top: 1em; right: 1em; height: 2em; width: 2em; background-color: #efefef; border-radius: 100%; transition: background-color .2s ease; }

body .breedGrid .breedBlock label .checkmark:after { content: ""; position: absolute; opacity: 0; left: 12px; top: 7px; width: 5px; height: 10px; border: solid white; border-width: 0 3px 3px 0; transform: rotate(45deg); transition: opacity .1s ease; }

body .breedGrid .breedBlock label:hover input ~ .checkmark { background-color: #9DC88D; }

body .breedGrid .breedBlock h3 { box-sizing: border-box; position: absolute; display: block; background-color: #efefef; width: 100%; margin: unset; padding: 1em; z-index: 2; }

body .doubleContainer { display: flex; justify-content: space-between; flex-direction: row; }

body .fieldContainer { display: flex; flex-direction: column; }

body .fieldContainer label { margin-bottom: .7em; }

body .fieldContainer input[type="text"], body .fieldContainer textarea { min-height: 46px; max-width: 100%; padding: .5em; border-radius: 10px; box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.3); border: 1px solid #ea4c8900; transition: all .1s ease-in-out; font-size: 1em; box-sizing: border-box; }

body .fieldContainer input[type="text"]:hover, body .fieldContainer textarea:hover { box-shadow: 0 0 0 4px #9dc88d4f; }

body .fieldContainer input[type="text"]:focus, body .fieldContainer textarea:focus { box-shadow: 0 0 0 4px #9dc88d4f; border: 1px solid #9dc88dd1; outline: none; }

p { font-weight: 400; }

.niceBtn { background-color: #9DC88D; border: 0; color: white; font-size: 1.2em; min-width: 150px; height: 46px; border-radius: 10px; font-family: Futura; font-weight: 500; cursor: pointer; transition: transform .5s; transition-timing-function: cubic-bezier(0.2, 3, 0.4, 1); user-select: none; }

.niceBtn:hover { transform: scale(1.015, 1.015); }

.niceBtn:active { transform: scale(1.03, 1.03); }

.overlay { z-index: 5; position: fixed; width: 100%; height: 100vh; background-color: rgba(0, 0, 0, 0); top: 0; left: 0; pointer-events: none; transition-property: all; transition-duration: .5s; transition-timing-function: cubic-bezier(0, 1, 0.5, 1); }

.bigTitle { margin-bottom: 2em; }

.bigTitle h2, .bigTitle p { margin: unset; }

.bigTitle .hr { border-top: 1px solid #505050; opacity: .4; margin: .7em 0; }

header { background-color: #9DC88D; padding: 1em 0; color: white; position: relative; z-index: 4; }

header .container { max-width: 1200px; margin: auto; width: 100%; padding: 0 12px; box-sizing: border-box; display: flex; justify-content: space-between; }

header a { color: white; text-decoration: none; }

header a h1 { margin: unset; font-family: Futura; font-size: 1.4em; font-weight: 500; letter-spacing: 1px; }

header div { display: flex; align-items: center; }

header #addList img { width: 2em; height: 2em; filter: invert(100); }

section { margin: 2em; }

section.allDogs { max-width: 1200px; margin: auto; width: 100%; padding: 0 12px; box-sizing: border-box; margin: 50px auto; }

section.allDogs button.accordion { background: white; width: 100%; border: none; outline: none; padding: 0; text-align: left; font-size: 1.5em; font-family: Futura; color: #505050; font-weight: 500; cursor: pointer; transition: background-color 0.2s linear; display: flex; justify-content: space-between; align-items: center; }

section.allDogs button.accordion svg { width: 1.5em; transform: rotate(-90deg); transition: all 0.2s linear; }

section.allDogs button.accordion svg path { transition: all 0.2s linear; }

section.allDogs button.accordion.isOpen svg { transform: rotate(0deg); }

section.allDogs button.accordion.isOpen svg path { fill: #9DC88D; }

section.allDogs .accordion-content { margin: 1em 0; background-color: white; padding: 0 20px; max-height: 0; overflow: hidden; transition: max-height 0.2s ease-in-out; }

section.allDogs .accordion-content .breedGrid .breedBlock { transition: transform .5s; transition-timing-function: cubic-bezier(0.2, 3, 0.4, 1); user-select: none; }

section.allDogs .accordion-content .breedGrid .breedBlock:hover { transform: scale(1.015, 1.015); }

section.allDogs .accordion-content .breedGrid .breedBlock:active { transform: scale(1.03, 1.03); }

#pannel { position: fixed; bottom: 0; background-color: white; width: 80%; max-width: 600px; margin: auto; left: 0; right: 0; padding: 0 2em 2em 2em; box-sizing: border-box; z-index: 10; box-shadow: 0px 3px 35px rgba(0, 0, 0, 0.3); height: 5em; border-radius: 30px 30px 0 0; transition-property: all; transition-duration: .5s; transition-timing-function: cubic-bezier(0, 1, 0.5, 1); }

#pannel .bottom { display: flex; justify-content: space-between; height: 3em; margin: 1em 0; display: flex; justify-content: space-between; align-items: center; }

#pannel .bottom #compteur { font-size: 1.2em; font-weight: 500; }

#pannel .bottom button:before { content: "View "; }

#pannel .list #items { list-style: none; padding: unset; }

#pannel .list #items li { display: flex; height: 3.5em; margin-bottom: 1em; }

#pannel .list #items li .delete { display: flex; align-self: center; width: 2em; height: 2em; border-radius: 100px; background-color: #F81E1E; padding: .4em; box-sizing: border-box; cursor: pointer; flex-shrink: 0; transition: transform .5s; transition-timing-function: cubic-bezier(0.2, 3, 0.4, 1); user-select: none; outline: none; }

#pannel .list #items li .delete:hover { transform: scale(1.04, 1.04); }

#pannel .list #items li .delete:active { transform: scale(1.08, 1.08); }

#pannel .list #items li .breed { border-radius: 13px; overflow: hidden; max-width: 100%; background-color: #efefef; display: flex; justify-content: space-between; align-items: center; padding-right: 1em; margin-left: 1em; flex-grow: 1; transition: all .1s ease-in-out; }

#pannel .list #items li .breed span { width: 100%; padding-left: .6em; }

#pannel .list #items li .breed img.breedImage { border-radius: 13px; height: 100%; aspect-ratio: 1/1; object-fit: cover; max-width: 100px; }

#pannel .list #items li .breed img.dragIcon { max-height: 1.2em; }

#pannel .saveList .doubleContainer .half:first-child { flex: 1; margin-right: 1em; }

#pannel .saveList .doubleContainer .half:last-child { display: flex; align-items: flex-end; }

#pannel .saveList .linkContainer { display: none; }

#pannel .saveList .socialContainer { display: flex; justify-content: space-evenly; }

#pannel .saveList .socialContainer a.socialBlock { display: flex; flex-direction: column; padding: 2em; background-color: white; text-decoration: none; color: #505050; box-shadow: 0px 3px 35px rgba(0, 0, 0, 0.3); border-radius: 18px; aspect-ratio: 1/1; }

#pannel .saveList .socialContainer a.socialBlock img { max-width: 60px; padding-bottom: 1em; }

#pannel .saveList .socialContainer a.socialBlock span { text-align: center; }

body.savedList main { max-width: 1200px; margin: auto; width: 100%; padding: 0 12px; box-sizing: border-box; }

body.savedList main .breedGrid { grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); grid-gap: 1.5em; }

body.savedList main .breedGrid .medal { position: absolute; font-family: Futura; font-size: 1.5em; top: 20px; left: 20px; z-index: 5; border-radius: 100%; width: 40px; height: 40px; text-align: center; padding-top: 1px; box-sizing: border-box; }

body.savedList main .breedGrid .breedBlock:nth-child(1) .medal { color: #fffdcc; background: linear-gradient(159deg, #f9ce08 0%, #fab904 100%); border: 3px solid #f9e082; text-shadow: 0px 0 3px #61470052; }

body.savedList main .breedGrid .breedBlock:nth-child(2) .medal { border: 3px solid #edeff1; color: white; background: linear-gradient(159deg, #d1d7da 0%, #c2cbcf 100%); text-shadow: 0px 0 3px #0000002b; padding-left: 1px; }

body.savedList main .breedGrid .breedBlock:nth-child(3) .medal { border: 3px solid #f7bb23; color: #ffe2bf; text-shadow: 0px 0 3px #5c450c3d; background: linear-gradient(159deg, #de7d09 0%, #c67008 100%); padding-left: 2px; }

body.savedList main .breedGrid .breedBlock:nth-child(n+4) .medal { border: 3px solid #c8e8bc; text-shadow: 0px 0 3px #252b2230; background-color: #9DC88D; color: white; font-size: 1.4em; }

body.savedList .titleCard { overflow: hidden; position: relative; height: 25vh; box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.3); box-sizing: border-box; background-size: cover; background-position: center 33%; margin-bottom: 2em; display: flex; justify-content: center; }

body.savedList .titleCard .gradient { z-index: 3; width: 100%; height: 65%; position: absolute; bottom: 0; background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.00709) 10.47%, rgba(0, 0, 0, 0.02755) 19.56%, rgba(0, 0, 0, 0.06016) 27.58%, rgba(0, 0, 0, 0.1037) 34.81%, rgba(0, 0, 0, 0.15697) 41.57%, rgba(0, 0, 0, 0.21875) 48.13%, rgba(0, 0, 0, 0.28782) 54.79%, rgba(0, 0, 0, 0.36296) 61.85%, rgba(0, 0, 0, 0.44297) 69.61%, rgba(0, 0, 0, 0.52662) 78.36%, rgba(0, 0, 0, 0.6127) 88.39%, rgba(0, 0, 0, 0.7)); }

body.savedList .titleCard h1 { max-width: 1200px; margin: auto; width: 100%; padding: 0 12px; box-sizing: border-box; color: white; position: absolute; z-index: 4; margin-right: auto; margin-left: auto; left: auto; right: auto; bottom: .5em; }

body.screenshot { aspect-ratio: 9/16; max-width: 400px; overflow: hidden; }

body.screenshot .toScreen { height: 100%; }

body.screenshot header { padding: .5em 0; }

body.screenshot header .container { justify-content: center; }

body.screenshot header .container #addList { display: none; }

body.screenshot .titleCard { height: 15vh; }

body.screenshot .titleCard h1 { font-size: 1.5em; }

body.screenshot .breedGrid { grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)) !important; }

body.screenshot .breedGrid .breedBlock { aspect-ratio: unset; overflow: visible; flex-direction: row; align-items: unset; min-height: 70px; max-height: 70px; }

body.screenshot .breedGrid .breedBlock img { max-width: 15%; border-radius: 12px 0 0 12px; }

body.screenshot .breedGrid .breedBlock .medal { top: unset; right: 0; left: unset; align-self: center; }

body.screenshot .breedGrid .breedBlock h3, body.screenshot .breedGrid .breedBlock img { position: relative; }

body.screenshot .breedGrid .breedBlock h3 { padding: .5em 1em; height: 100%; max-width: 70%; font-size: 1.1em; display: flex; align-items: center; border-radius: 0 12px 12px 0; }
