body { margin: 0; font-family: Futura; color: #505050; }

p { font-weight: 400; }

.niceBtn { background-color: #9DC88D; border: 0; color: white; font-size: 1.2em; min-width: 150px; height: 2.4em; border-radius: 10px; font-family: Futura; font-weight: 500; cursor: pointer; transition: transform .5s; transition-timing-function: cubic-bezier(0.2, 3, 0.4, 1); user-select: none; outline: none; }

.niceBtn:hover { transform: scale(1.04, 1.04); }

.niceBtn:active { transform: scale(1.08, 1.08); }

.overlay { z-index: 5; position: fixed; width: 100%; height: 100vh; background-color: rgba(0, 0, 0, 0); top: 0; left: 0; pointer-events: none; transition-property: all; transition-duration: .5s; transition-timing-function: cubic-bezier(0, 1, 0.5, 1); }

body.open .overlay { background-color: rgba(0, 0, 0, 0.5); pointer-events: all; }

body.open #pannel { height: 50vh; }

body.open #pannel .bottom button:before { content: "Hide "; }

.bigTitle { margin-bottom: 2em; }

.bigTitle h2, .bigTitle p { margin: unset; }

.bigTitle hr { border: 1px solid #505050; opacity: .8; }

header { background-color: #9DC88D; padding: 1em; color: white; display: flex; justify-content: space-between; }

header h1 { margin: unset; font-family: Futura; font-size: 1.4em; font-weight: 500; letter-spacing: 1px; }

header div { display: flex; align-items: center; }

header #addList img { width: 2em; height: 2em; filter: invert(100); }

section { margin: 2em; }

section.allDogs { width: 80%; max-width: 1000px; margin: 50px auto; }

section.allDogs button.accordion { background: white; width: 100%; border: none; outline: none; padding: 0; text-align: left; font-size: 1.5em; font-family: Futura; color: #505050; font-weight: 500; cursor: pointer; transition: background-color 0.2s linear; display: flex; justify-content: space-between; align-items: center; }

section.allDogs button.accordion svg { width: 1.5em; transform: rotate(-90deg); transition: all 0.2s linear; }

section.allDogs button.accordion svg path { transition: all 0.2s linear; }

section.allDogs button.accordion.isOpen svg { transform: rotate(0deg); }

section.allDogs button.accordion.isOpen svg path { fill: #9DC88D; }

section.allDogs .accordion-content { margin: 1em 0; background-color: white; padding: 0 20px; max-height: 0; overflow: hidden; transition: max-height 0.2s ease-in-out; }

section.allDogs .accordion-content .breedGrid { display: grid; grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); grid-gap: 1em; margin: 1em 0; }

section.allDogs .accordion-content .breedGrid .breedBlock { transition: transform .5s; transition-timing-function: cubic-bezier(0.2, 3, 0.4, 1); user-select: none; aspect-ratio: 1/1; display: flex; align-items: flex-end; border-radius: 30px; overflow: hidden; position: relative; box-sizing: border-box; }

section.allDogs .accordion-content .breedGrid .breedBlock:hover { transform: scale(1.015, 1.015); }

section.allDogs .accordion-content .breedGrid .breedBlock:active { transform: scale(1.03, 1.03); }

section.allDogs .accordion-content .breedGrid .breedBlock img { width: 100%; height: 100%; object-fit: cover; z-index: 1; }

section.allDogs .accordion-content .breedGrid .breedBlock label { width: 100%; height: 100%; position: absolute; z-index: 3; cursor: pointer; }

section.allDogs .accordion-content .breedGrid .breedBlock label input { position: absolute; z-index: 3; top: 1em; right: 1em; }

section.allDogs .accordion-content .breedGrid .breedBlock h3 { box-sizing: border-box; position: absolute; display: block; background-color: #efefef; width: 100%; margin: unset; padding: 1em; z-index: 2; }

#pannel { position: fixed; bottom: 0; background-color: white; width: 80%; max-width: 600px; margin: auto; left: 0; right: 0; padding: 0 1em 1em 1em; box-sizing: border-box; z-index: 10; box-shadow: 0px 3px 35px rgba(0, 0, 0, 0.4); height: 5em; border-radius: 30px 30px 0 0; transition-property: all; transition-duration: .5s; transition-timing-function: cubic-bezier(0, 1, 0.5, 1); }

#pannel .bottom { display: flex; justify-content: space-between; height: 3em; margin: 1em 0; display: flex; justify-content: space-between; align-items: center; }

#pannel .bottom #compteur { font-size: 1.2em; font-weight: 500; }

#pannel .bottom button:before { content: "View "; }

#pannel .list #items { list-style: none; padding: unset; }

#pannel .list #items li { display: flex; height: 3.5em; margin-bottom: 1em; }

#pannel .list #items li .delete { display: flex; align-self: center; width: 2em; height: 2em; border-radius: 100px; background-color: #F81E1E; padding: .4em; box-sizing: border-box; cursor: pointer; flex-shrink: 0; transition: transform .5s; transition-timing-function: cubic-bezier(0.2, 3, 0.4, 1); user-select: none; outline: none; }

#pannel .list #items li .delete:hover { transform: scale(1.04, 1.04); }

#pannel .list #items li .delete:active { transform: scale(1.08, 1.08); }

#pannel .list #items li .breed { border-radius: 13px; overflow: hidden; max-width: 100%; background-color: #efefef; display: flex; justify-content: space-between; align-items: center; padding-right: 1em; margin-left: 1em; flex-grow: 1; }

#pannel .list #items li .breed span { width: 100%; padding-left: .6em; }

#pannel .list #items li .breed img.breedImage { border-radius: 13px; height: 100%; aspect-ratio: 1/1; object-fit: cover; max-width: 100px; }

#pannel .list #items li .breed img.dragIcon { max-height: 1.2em; }

#pannel .saveList .socialContainer { display: flex; justify-content: space-evenly; }

#pannel .saveList .socialContainer a.socialBlock { display: flex; flex-direction: column; padding: 2em; background-color: white; text-decoration: none; color: #505050; box-shadow: 0px 3px 35px rgba(0, 0, 0, 0.4); border-radius: 18px; aspect-ratio: 1/1; }

#pannel .saveList .socialContainer a.socialBlock img { max-width: 60px; padding-bottom: 1em; }

#pannel .saveList .socialContainer a.socialBlock span { text-align: center; }

body.savedList img { max-width: 200px; }
