$accent: #9DC88D;
$textColor: #505050;
$radius: 30px;



@mixin blobLink {
    transition: transform .5s;
    transition-timing-function: cubic-bezier(.2, 3, .4, 1);
    user-select: none;
    outline: none;

    &:hover {
        transform: scale(1.04, 1.04);
    }

    &:active {
        transform: scale(1.08, 1.08);
    }
}

@mixin blobLink-S {
    transition: transform .5s;
    transition-timing-function: cubic-bezier(.2, 3, .4, 1);
    user-select: none;

    &:hover {
        transform: scale(1.015, 1.015);
    }

    &:active {
        transform: scale(1.03, 1.03);
    }
}


body {
    margin: 0;
    font-family: Futura;
    color: $textColor;
}

p {
    font-weight: 400;
}

.niceBtn {
    background-color: $accent;
    border: 0;
    color: white;
    font-size: 1.2em;
    min-width: 150px;
    height: 2.4em;
    border-radius: 10px;
    font-family: Futura;
    font-weight: 500;
    cursor: pointer;

    @include blobLink();
}

.overlay {
    z-index: 5;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: hsla(0, 0%, 0%, 0);
    top: 0; left: 0;
    pointer-events: none;
    transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

body.open {
    .overlay {
        background-color: hsla(0, 0%, 0%, 0.5);
        pointer-events: all;
    }

    #pannel {
        height: 50vh;

        .bottom button:before {
            content:"Hide ";
        }
    }
}


.bigTitle {
    margin-bottom: 2em;

    h2, p {
        margin: unset;
    }

    hr {
        border: 1px solid $textColor;
        opacity: .8;
    }

}

header {
    background-color: $accent;
    padding: 1em;
    color: white;

    display: flex;
    justify-content: space-between;

    h1 {
        margin: unset;
        font-family: Futura;
        font-size: 1.4em;
        font-weight: 500;
        letter-spacing: 1px;;
    }

    div {
        display: flex;
        align-items: center; 
    }

    #addList img {
        width: 2em;
        height: 2em;
        filter: invert(100);
    }
}

section {
    margin: 2em;
}



















section.allDogs {
    width: 80%;
    max-width: 1000px;
    margin:50px auto;

    button.accordion {
        background: white;
        width: 100%;
        border: none;
        outline: none;
        padding: 0;
        text-align: left;
        font-size: 1.5em;
        font-family: Futura;
        color: $textColor;
        font-weight: 500;
        cursor: pointer;
        transition: background-color 0.2s linear;

        display: flex;
        justify-content: space-between;
        align-items: center;

        svg {
            width: 1.5em;
            transform: rotate(-90deg);
            transition: all 0.2s linear;
            
            path {
                transition: all 0.2s linear;
            }
        }

        &.isOpen svg {
            transform: rotate(0deg);

            path {
                fill: $accent;
            }
        }
    }



    .accordion-content {
        margin: 1em 0;
        background-color: white;
        padding: 0 20px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-in-out;

        .breedGrid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
            grid-gap: 1em;
            margin: 1em 0;
            
            .breedBlock {
                @include blobLink-S();
                aspect-ratio: 1/1;
                display: flex;
                align-items: flex-end;
                border-radius: $radius;
                overflow: hidden;
                position: relative;
                box-sizing: border-box;
                

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    z-index: 1;
                }

                

                label {
                    width: 100%;
                    height: 100%;
                    position:absolute;
                    z-index: 3;
                    cursor: pointer;

                    input {
                        position:absolute;
                        z-index: 3;
                        top: 1em;
                        right: 1em; 
                    }
                }

                h3 {
                    box-sizing: border-box;
                    position:absolute;
                    display: block;
                    background-color: #efefef;
                    width: 100%;
                    margin: unset;
                    padding: 1em;
                    z-index: 2;
                }
            }

            
        }
    }
    
}


#pannel {
    position: fixed;
    bottom: 0;
    background-color: white;
    width: 80%;
    max-width: 600px;
    margin: auto;
    left: 0; right: 0;
    padding: 0 1em 1em 1em;
    box-sizing: border-box;
    z-index: 10;

    box-shadow: 0px 3px 35px rgba(0, 0, 0, .4);


    height: 5em; 

    border-radius: $radius $radius 0 0;

    transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

    .bottom {
        display: flex;
        justify-content: space-between;
        height: 3em;
        margin: 1em 0;

        display: flex;
        justify-content: space-between;
        align-items: center;

        #compteur {
            font-size: 1.2em;
            font-weight: 500;
        }

        button:before {
            content:"View ";
        }
    }

    .list {
        #items {
            list-style: none;
            padding: unset;

            li {
                display: flex;

                height: 3.5em;
                margin-bottom: 1em;
                

                .delete {
                    display: flex;
                    align-self: center;
                    width: 2em;
                    height: 2em;
                    border-radius: 100px;
                    background-color: #F81E1E;
                    padding: .4em;
                    box-sizing: border-box;
                    cursor: pointer;
                    flex-shrink: 0;

                    @include blobLink();
                }

                .breed {
                    border-radius: 13px;
                    overflow: hidden;
                    max-width: 100%;
                    background-color: #efefef;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-right: 1em;
                    margin-left: 1em;
                    flex-grow: 1;

                    span {
                        width: 100%;
                        padding-left: .6em;
                    }

                    img {
                        &.breedImage {
                            border-radius: 13px;
                            height: 100%;
                            aspect-ratio: 1/1;
                            object-fit: cover;
                            max-width: 100px;
                        }

                        &.dragIcon {
                            max-height: 1.2em;
                        }
                        
                    }
                }
            }
        }
    }
    
    .saveList {
        .socialContainer {
            display: flex;
            justify-content: space-evenly;
            
            a.socialBlock {
                display: flex;
                flex-direction: column;
                padding: 2em;
                background-color: white;
                text-decoration: none;
                color: $textColor;
                box-shadow: 0px 3px 35px rgba(0, 0, 0, .4);
                border-radius: 18px;
                aspect-ratio: 1/1;

                img {
                    max-width: 60px;
                    padding-bottom: 1em;
                }

                span {
                    text-align: center;
                }
            }

            
        }
    }
}








body.savedList {
    img {
        max-width: 200px;
    }
}

