.smallTablet, .mobile {
    #pannel {
        width: 100%;
        padding: 0 1em 1em 1em;
        transform: translateY(calc(50vh - 80px));

        .saveList {
            .doubleContainer .half {
                &:first-child {
                    max-width: 50%;
                    width: 100%;
                }
            }

            #share .socialContainer {
                grid-gap: 1em;
    
                a.socialBlock {
                    padding: 13px;

                    img {
                        max-width: 45px;
                    }
                } 
            }
        }
        
    }

    &.open {
        #pannel { height: 70vh; }

        &.longList #pannel {
            height: 90vh;
        }
    }

    footer .doubleContainer {
        flex-direction: column;
    }

    


    main {
        &.allDogs {
            margin: 20px auto;

            .accordion-content {
                padding: 0 10px;
            }
        }
    }

    footer .doubleContainer .half:last-child {
        margin-block: 2em;
        text-align: left;
    }
}


.mobile .styled-table {
    
    th, td {
        padding: 12px 5px!important;
    }
}