.smallTablet, .mobile {

    &:not(.homepage) {
        padding-top: 58px;
    }    
    &.homepage {
        padding-top: 0;
    }

    header {
        padding: 0.5em 0;

        a.logo {
            font-size: 1.2em;

            h1 .text #tagline {
                margin-top: -2px;
            }
        }
    }

    #panel {
        width: 100%;
        padding: 0 1em 1em 1em;
        // bottom: ;

        .saveList {
            .doubleContainer .half {
                &:first-child {
                    max-width: 50%;
                    width: 100%;
                }
            }

            #share .socialContainer {
                grid-gap: 1em;
    
                a.socialBlock {
                    padding: 13px;

                    img {
                        max-width: 45px;
                    }
                } 
            }
        }
        
    }

    &.open {
        #panel { height: 70vh; }

        &.longList #panel {
            height: 90vh;
        }
    }

    footer .doubleContainer {
        flex-direction: column;
    }

    main {
        &.allDogs {
            margin: 2em auto;

            .accordion-content {
                padding: 0 10px;
            }
        }
    }

    footer .doubleContainer .half:last-child {
        margin-block: 2em;
        text-align: left;
    }

    .niceBtn {
        padding-inline: 3px;
    }
}


.mobile .styled-table {
    th, td {
        padding: 12px 5px!important;
    }
}