$accent: #8bb97d;
$lightAccent: rgb(190, 211, 182);
$textColor: #505050;
$radius: 30px;


@mixin blobLink {
    transition: transform .5s;
    transition-timing-function: cubic-bezier(.2, 3, .4, 1);
    user-select: none;
    outline: none;

    @media (hover: hover) {
        &:hover {
            transform: scale(1.04, 1.04);
        }
    }

    &:active {
        transform: scale(1.08, 1.08);
    }
}

@mixin blobLink-S {
    transition: transform .5s;
    transition-timing-function: cubic-bezier(.2, 3, .4, 1);
    user-select: none;

    @media (hover: hover) {
        &:hover {
            transform: scale(1.015, 1.015);
        }
    }

    &:active {
        transform: scale(1.03, 1.03);
    }
}

@mixin regularShadow {
    box-shadow: 0px 1px 7px rgba(0, 0, 0, .3);
}


@mixin maxWidth() {
    max-width: 1200px;
    margin: auto;
    width: 100%;
    padding: 0 12px;
    box-sizing: border-box;
}


// custom scrollbar
/* width */
::-webkit-scrollbar {
    width: 16px;
    left: -50px;
}

/* Track */
::-webkit-scrollbar-track {
    margin-top: 30px;
}


/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 15px;
    border: 3px solid white; 
    
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Remove outline for non-keyboard :focus */
*:focus:not(.focus-visible) {
    outline: none;
}

::selection {
    color: black;
    background-color: #9dc88d7e;
}

html {
    scroll-behavior: smooth;
}


body {
    margin: 0;
    font-family: Futura, Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: $textColor;
    background-color: white;

    main { @include maxWidth(); }

    #error { color: #f81e1e; display :none; margin-top: .6em; }

    a { color: $accent; text-decoration: none; }

    &.open {
        overflow: hidden;
        
        .overlay {
            background-color: hsla(0, 0%, 0%, 0.5);
            pointer-events: all;
        }
    
        #panel {
            overflow-y: auto;
            bottom: 0;

            .list .bigTitle {
                opacity: 1;
            }
    
            .bottom button:before {
                content:"Hide ";
            }
        }

        &.longList #panel {
            height: 89vh;
        }

        .screenshotContainer {
            opacity: 1;
            transform: scale(1);
            -webkit-transform: scale(1);
        }
    }

    &.noSelection {
        #panel {
            bottom: -400px;
            // transform: translateY(100%);
            // -webkit-transform: translateY(100%);
        }
    } 

    &.homepage:not(.noSelection) footer {
        padding-bottom: 7em;
    }

    .doubleContainer {
        display: flex;
        justify-content: space-between;
        flex-direction: row;   
    }

    .fieldContainer {
        display: flex;
        flex-direction: column;

        label {
            margin-bottom: .7em;
        }

        input[type="text"], textarea {
            min-height: 46px;
            max-width: 100%;
            padding: .5em;
            border-radius: 10px;
            @include regularShadow();
            border: 1px solid #ea4c8900;
            transition: all .1s ease-in-out;
            font-size: 1em;
            box-sizing: border-box;
            -webkit-appearance: none;

            &:hover {
                box-shadow: 0 0 0 4px #9dc88d4f;
            }

            &:focus {
                box-shadow: 0 0 0 4px #9dc88d4f;
                border: 1px solid #9dc88dd1;
                outline: none;
            }
        }
    }
}

.breedGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 2em;
    margin: 1em 0;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;

    .breedBlock {
        aspect-ratio: 1/1;
        display: flex;
        align-items: flex-end;
        border-radius: 30px;
        overflow: hidden;
        position: relative;
        box-sizing: border-box;
        height: 360px;
        width: 100%;
        will-change: transform;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
        border: 1px solid rgba(144, 144, 144, 0.4);

        img {
            width: 100%;
            min-height: 100%;
            align-self: center;
            object-fit: cover;
            z-index: 1;
        }

        .interact {
            width: 100%;
            height: 100%;
            position: absolute;



            label {
                width: 100%;
                height: 100%;
                position: absolute;
                cursor: pointer;
                z-index: 4;
            }

            input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
        
                &:checked~.checkmark {
                    background-color: $accent !important;
        
                    &:after {
                        opacity: 1;
                    }
                }
            }
        
            .checkmark {
                position: absolute;
                top: 1em;
                right: 1em;
                height: 2em;
                width: 2em;
                background-color: #efefef;
                border-radius: 100%;
                transition: background-color .2s ease;
                box-shadow: 0px 3px 5px rgba(0, 0, 0, .3);
                z-index: 4;
                pointer-events: none;
        
                &:after {
                    content: "";
                    position: absolute;
                    opacity: 0;
                    left: 12px;
                    top: 7px;
                    width: 5px;
                    height: 10px;
                    border: solid white;
                    border-width: 0 3px 3px 0;
                    transform: rotate(45deg);
                    transition: opacity .1s ease;
                }
            }
        
            @media (hover: hover) {
        
                /* behaviour for desktop browsers */
                &:hover input:not(checked)~.checkmark {
                    background-color: $lightAccent;
                }
            }
        }

        h4 {
            box-sizing: border-box;
            position: absolute;
            display: block;
            font-size: 1.2em;
            background-color: #efefef;
            width: 100%;
            margin: unset;
            padding: .8em 1em;
            z-index: 2;
            box-shadow: 0px -5px 20px rgba(0, 0, 0, 0.15%);
            color: #494949;
            background-color: #fffb;
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
        }
    }
}





.niceBtn {
    background-color: $accent;
    border: 0;
    color: white;
    font-size: 1.2em;
    min-width: 150px;
    height: 46px;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
    padding-inline: 0;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    font-family: inherit;

    @include blobLink-S();
}

.overlay {
    z-index: 5;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: hsla(0, 0%, 0%, 0);
    top: 0; left: 0;
    pointer-events: none;
    transition-property: all .5s ;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}


.bigTitle {
    margin-bottom: 2em;

    h1, p {
        margin: unset;
    }

    h1 {
        font-size: 1.8em;
        font-weight: 500;
    }

    p {
        opacity: .9;
    }

    .hr {
        border-top: 1px solid $textColor;
        opacity: .4;
        margin: .7em 0;
    }
}

a.logo {
    color: white;
    text-decoration: none;


        margin: unset;
        font-size: 1.4em;
        font-weight: 500;
        letter-spacing: 1px;
        display: flex;
        gap: .5em;

        svg {
            display: inline-block;
            max-width: 1.5em;
            width: 100%;

            path {
                fill: white;
            }
        }

        .text {
            flex-direction: column;
            display: flex;

            #tagline {
                font-size: .6em
            }
        }

}

header {
    background-color: $accent;
    padding: 1em 0;
    color: white;
    position: relative;
    z-index: 5;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    .container {
        @include maxWidth();
        display: flex;
        justify-content: space-between;
    }

    #addList {
        display: flex;
        align-items: center;

        img {
            width: 2em;
            height: 2em;
            filter: invert(100);
        }
    } 
}

body:not(.homepage) {
    padding-top: 80px;

    header {
        width: 100%;
        top: 0;
        position: fixed;
    }
}

main {
    margin: 2em;
}



















main.allDogs {
    @include maxWidth();
    margin: 2em auto;

    button.accordion {
        background: unset;
        width: 100%;
        border: none;
        outline: none;
        padding: 0;
        text-align: left;
        font-size: 1.2em;
        color: $textColor;
        font-weight: 500;
        cursor: pointer;
        transition: background-color 0.2s linear;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            margin-block: 0;
        }

        svg {
            width: 1.5em;
            transform: rotate(-90deg);
            transition: all 0.2s linear;
            
            path {
                transition: all 0.1s linear;
            }
        }

        &:hover {
            svg path {
                fill: $lightAccent;
            }
        }

        &.isOpen svg {
            transform: rotate(0deg);

            path {
                fill: $accent;
            }
        }
    }



    .accordion-content {
        margin: 1em 0;
        background-color: white;
        padding: 0 10px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-in-out;
        
        will-change: max-height;

        .breedGrid .breedBlock {
            @include blobLink-S();
        }
    }
    
}


#panel {
    position: fixed;
    bottom: -318px;
    background-color: white;
    width: 80%;
    max-width: 600px;
    margin: auto;
    left: 0; right: 0;
    padding: 0 2em 2em 2em;
    -moz-padding: 0 2em 2em 2em;
    box-sizing: border-box;
    z-index: 10;
    overflow: hidden;
    box-shadow: 0px 3px 35px rgba(0, 0, 0, .3);
    height: 400px;
    // transform: translateY(calc(50vh - 80px));
    // -webkit-transform: translateY(calc(50vh - 80px));
    will-change: bottom;
    border-radius: $radius $radius 0 0;
    transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    border: 1px solid rgba(144, 144, 144, 0.2);
    border-bottom: 0;
    
    .list, .linkContainer {
        margin-bottom: 2em; 
    }

    .list .bigTitle { opacity: 0; }

    .bottom {
        display: flex;
        justify-content: space-between;
        height: 3em;
        margin: 1em 0;

        display: flex;
        justify-content: space-between;
        align-items: center;

        #compteur {
            font-size: 1.2em;
            font-weight: 500;
        }

        button:before {
            content:"View ";
        }
    }

    .list {
        #items {
            list-style: none;
            padding: unset;

            li {
                display: flex;

                height: 3.5em;
                margin-bottom: 1em;

                &.sortable-chosen .breed { cursor: grabbing; }

                &:hover .breed { background-color: #dddddd;}

                .delete {
                    display: flex;
                    align-self: center;
                    width: 2em;
                    height: 2em;
                    border-radius: 100px;
                    background-color: #F81E1E;
                    padding: .4em;
                    box-sizing: border-box;
                    cursor: pointer;
                    flex-shrink: 0;

                    img { width: 100%; }

                    @include blobLink();
                }

                .breed {
                    border-radius: 13px;
                    overflow: hidden;
                    max-width: 100%;
                    background-color: #efefef;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-left: 1em;
                    flex-grow: 1;
                    transition: all .1s ease-in-out;
                    cursor: grab;

                    span {
                        width: 100%;
                        padding-left: .6em;
                    }

                    img {
                        &.breedImage {
                            border-radius: 13px;
                            height: 100%;
                            object-fit: cover;
                            max-width: 75px;
                            width: 100%;
                        }
                    }

                    .dragZone {
                        width: 40px;
                        height: 100%;
                        padding: 0 1em;
                        display: flex;
                        align-items: center;
                        user-select: none;
                        -webkit-user-select: none;
                        -webkit-touch-callout: none;

                        .dragIcon {
                            max-height: 1.2em;
                        }
                    }
                }
            }
        }
    }
    
    .saveList {
        .doubleContainer .half {
            &:first-child {
                margin-right: 1em;
                width: 100%;
            }

            &:last-child {
                display: flex;
                align-items: flex-end;
            }
        }

        .linkContainer { display: none; }

        #share {
            display: none; 

            .socialContainer {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-gap: 2em; 
                
                a.socialBlock {
                    display: flex;
                    flex-direction: column;
                    background-color: #f8f8f8;
                    text-decoration: none;
                    color: $textColor;
                    border-radius: 18px;
                    aspect-ratio: 1/1;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid rgba(205, 212, 219, .8);
                    transition: all .1s ease-in-out;
                    
                    @supports not (aspect-ratio: 1/1) {
                        padding: 20px;
                    }

                    img {
                        max-width: 60px;
                        padding-bottom: 1em;
                        aspect-ratio: 1/1;
                    }
    
                    span {
                        text-align: center;
                    }
                } 
            }
        }
    }
}








body.savedList {

    main {
        padding-bottom: 2em;
        .breedGrid {
            grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
            grid-gap: 1.5em;

            .medal {
                position: absolute;
                font-size: 1.5em;
                top: 20px;
                left: 20px;
                z-index: 5;
                border-radius: 100%;
                width: 40px;
                height: 40px;
                text-align: center;
                padding-top: 1px;
                box-sizing: border-box;
            }

            // médailles
            .breedBlock:nth-child(1) .medal {
                color: #fffdcc;
                background: linear-gradient(159deg, rgba(249,206,8,1) 0%, rgba(250,185,4,1) 100%);
                border: 3px solid #f9e082;
                text-shadow: 0px 0 3px #61470052;

            }

            .breedBlock:nth-child(2) .medal {
                border: 3px solid #edeff1;
                color: white;
                background: linear-gradient(159deg, rgba(209,215,218,1) 0%, rgba(194,203,207,1) 100%);
                text-shadow: 0px 0 3px #0000002b;
                padding-left: 1px;
            }

            .breedBlock:nth-child(3) .medal {
                border: 3px solid #f7bb23;
                color: #ffe2bf;
                text-shadow: 0px 0 3px #5c450c3d;
                background: linear-gradient(159deg, rgba(222,125,9,1) 0%, rgba(198,112,8,1) 100%);
                padding-left: 2px;
            }

            // toutes les médailles à partir de la 4ème inclue
            .breedBlock:nth-child(n+4) .medal {
                border: 3px solid #c8e8bc;
                text-shadow: 0px 0 3px #252b2230;
                background-color: $accent;
                color: white;
                font-size: 1.4em;
            }
        }
    }

    
}

.titleCard {
    overflow: hidden;
    position: relative;
    height: 25vh;
    @include regularShadow();
    
    box-sizing: border-box;
    
    background-size: cover;
    background-position: center 33%;
    margin-bottom: 2em;

    display: flex;
    justify-content: center;
    
    .gradient {
        z-index: 3;
        width: 100%;
        height: 65%;
        position: absolute;
        bottom: 0;
        background-image: linear-gradient(hsla(0,0%,0%,0),hsla(0,0%,0%,.00709) 10.47%,hsla(0,0%,0%,.02755) 19.56%,hsla(0,0%,0%,.06016) 27.58%,hsla(0,0%,0%,.1037) 34.81%,hsla(0,0%,0%,.15697) 41.57%,hsla(0,0%,0%,.21875) 48.13%,hsla(0,0%,0%,.28782) 54.79%,hsla(0,0%,0%,.36296) 61.85%,hsla(0,0%,0%,.44297) 69.61%,hsla(0,0%,0%,.52662) 78.36%,hsla(0,0%,0%,.6127) 88.39%,hsla(0,0%,0%,.7));
    }
    
    h1 {
        @include maxWidth();
        color: white;
        position: absolute;
        z-index: 4;
        margin-right: auto;
        margin-left: auto;
        left: auto;
        right: auto;
        bottom: .5em;
    }
}



footer {
    background-color: #383433;
    // margin-bottom: 6em;
    padding: 0 10px;
    color: rgb(204, 204, 204);
    padding-top: 3em;
    padding-bottom: 2em;
    
    h3:first-child {
        margin-top: 0;
        margin-bottom: .3em;
    }

    h4 {
        margin-top: .8em;
        margin-bottom: .3em;
    }

    hr {
        max-width: 800px;
        margin-inline: auto;
        border: none;
        background-color: #6b6b6b;
        color: #6b6b6b;
        height: 1px;
        margin-top: 1em;
    }

    a.logo h1 svg path {
        fill: $accent;
    }

    li {
        list-style: none;
    }

    .niceBtn {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-bottom: .7em;

        &.contact {
            background-color: transparent;
            border: 2px solid $accent;
            margin-left: .5em;
        }
    }

    .doubleContainer {
        @include maxWidth();
    }

    .doubleContainer .half {

        &:last-child {
            text-align: right;
        }
    }

    .sub {
        text-align: center;
        font-size: .9em;
        color: rgb(190, 190, 190);
        margin-top: 2em;
    }
}









.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

    thead tr {
        background-color: $accent;
        color: #ffffff;
        text-align: left;
    }

    th, td {
        padding: 12px 15px;
    }

    tbody tr {
        border-bottom: 1px solid #dddddd;
    }

    tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }

    tbody tr:last-of-type {
        border-bottom: 2px solid $accent;
    }

    .imgContainer {
        display: flex;
        aspect-ratio: 1/1;
        max-height: 100px;
        max-width: 100px;
        overflow: hidden;
        border-radius: 10px;

        img {
            width: 100%;
            min-height: 100%;
            align-self: center;
            object-fit: cover;
        }
    }
}

.notice {
    @include maxWidth();
    margin-top: 2em;

    .container {
        display: flex;
        padding: 1em;
        border-radius: 20px;
        border: 1px solid $accent;
        align-items: center;
        gap: 1em;
        box-sizing: border-box;
        background-color: white;
    }

    img {
        width: 100%;
        max-width: 2em;
    }
    p {
        margin: 0;
        text-align: justify;
    }
}



.tablet, .smallTablet, .mobile {
    &.homepage:not(.noSelection) {
        #backtotop {
            bottom: 7em
        }
    }
}

#backtotop {
    position: fixed;
    right: 2em;
    bottom: 2em;
    width: 35px;
    height: 35px;
    cursor: pointer;
    z-index: 1;
    border-radius: 50%;
    background-color: white;
    transition: transform .1s ease-in, bottom .5s cubic-bezier(0, 1, 0.5, 1);
    @include regularShadow();

    &:hover {
        transform: scale(1.1);
    }

    &:active {
        background-color: rgb(219, 219, 219);
    }

    img {
        height: 100%;
        width: 100%;
    }
}

@import 'responsive';
@import 'dark';